/package-lock.php.yml
/vendor/
/Packager/
/modules/jphp-gdx-backend-lwjgl-ext/.gradle/
/modules/jphp-gdx-backend-lwjgl-ext/.idea/
/modules/jphp-gdx-backend-lwjgl-ext/build/
/modules/jphp-gdx-backend-lwjgl-ext/gradle/
/modules/jphp-gdx-backend-lwjgl-ext/jars/
/modules/jphp-gdx-backend-lwjgl-ext/vendor/
/modules/jphp-gdx-ext/.gradle/
/modules/jphp-gdx-ext/.idea/
/modules/jphp-gdx-ext/build/
/modules/jphp-gdx-ext/gradle/
/modules/jphp-gdx-ext/jars/
/modules/jphp-gdx-ext/vendor/
/modules/jphp-gdx-ext/package-lock.php.yml
/modules/jphp-gdx-platform-natives-desktop-ext/.gradle/
/modules/jphp-gdx-platform-natives-desktop-ext/.idea/
/modules/jphp-gdx-platform-natives-desktop-ext/build/
/modules/jphp-gdx-platform-natives-desktop-ext/gradle/
/modules/jphp-gdx-platform-natives-desktop-ext/jars/
/modules/jphp-gdx-platform-natives-desktop-ext/vendor/
