# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\FibonacciFox\Desktop\jphp-libgdx\modules\jphp-gdx-platform-natives-desktop-ext\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
